#header {
  background: #0c2249;
// height:100px;
position: sticky;
top: 0;
backdrop-filter: blur(10px);
.bler{
  // padding: 20px 0 0 0;
  input{
    &::placeholder{
      color: white;
    }
  }
}
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin: 0 40px;

    img {
      width: 200px;
    }

    &--link {
      display: flex;
      align-items: center;
      gap: 35px;

      .active {
        color: #20b7b7;
      }

      a {
        font-size: 18px;
        color: white;
      }
    }

    &--group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 25px;

      &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        position: relative;

        &--bg {
          position: absolute;
          right:30px;
          top: -5px;
          font-size: 20px;
          background: red;
          color: wheat;
          border-radius: 8px;
          order: -1;
          padding: 0 4px;
        }
      }

      a {
        color: white;
        font-size: 18px;
        font-weight: 700;
        padding:6px 0 6px 0;
      }

      select {
        background: none;
        border: 1.4px solid white;
        padding: 0 1px 2px 1px;
        color: white;
        font-size: 16px;
        text-decoration: none;
        outline: none;
        border-radius: 4px;
        -webkit-appearance: none;

        //-moz-appearance: none;
        //appearance: none;
        option {
          color: white;
          font-size: 20px;
          background: black;
          padding: 4px;
          width: 200px;
        }
      }

      button {
        font-size: 18px;
        color: white;
      }

      #btn {
        color: #22bfef;
      }
    }
  }
}